#header
  height: 100px
  #logo
    margin-top: 25px
    display: block
    float: left
  #date
    float: right
    margin-top: 35px
  #buynow
    margin-top: 33px
    margin-left: 20px
    float: left
    display: inline-block
    font-weight: bold
    text-decoration: none
    background: #ba262b
    padding: 5px 10px
    +border-radius(5px)
    color: #fff
    @include transition (all 0.4s ease-in-out)
    &:hover
      background: $darkred
  #viewall, #returntoall
    float: right
    margin-top: 25px
  #viewall, #returntoall
    background: $red url(/images/icons/return.png) 16px 7px no-repeat
    background-size: 32px 32px
    +border-radius(100px)
    padding: 10px 20px 10px 60px
    display: block
    text-decoration: none
    @include transition (all 0.4s ease-in-out)
    color: #fff
    &:hover
      background-color: $darkred
    &:active
      background-color: #000
    p
      margin-bottom: 0

