.org_person
  margin-bottom: 20px
  img
    float: right
    +border-radius(500px)
    height: 120px
    width: 120px
  .avatar
    border: 5px solid #fff
    float: right
    +border-radius(500px)
    @include transition (all 0.5s ease-in-out)
  a
    color: $body
    text-decoration: none
    display: block
    overflow: hidden
    +border-right-radius(500px)
    +border-left-radius(5px)
    @include transition (all 0.5s ease-in-out)
  h5
    font-size: 24px
    font-weight: normal
    line-height: 160px
    margin-right: 20px
    float: right

.org_person.rfloat
  a
    +border-left-radius(500px)
    +border-right-radius(5px)
  img, .avatar, h5
    float: left
  h5
    margin: 0 0 0 20px

.org_person:hover .avatar
  border: 5px solid $red
.org_person_big
  @include profile
.web_site, .github, .twitter_link
  padding: 0 20px 0 40px
  line-height: 40px
  float: left
  clear: both
  text-decoration: none
  @include transition (all 0.3s ease-in-out)
  &:hover
    background-color: $red
    +border-radius(3px)
    color: #fff
.web_site
  background: url(/images/icons/link.png) 10px center no-repeat
  background-size: 24px 24px
.github
  background: url(/images/icons/github.png) 10px center no-repeat
  background-size: 24px 24px
.twitter_link
  background: url(/images/icons/twitter_link.png) 10px center no-repeat
  background-size: 24px 24px

