---
layout: big
title: GORUCO
meta: The Premier Ruby Conference in New York City
author: Steve Berry
---

<h1>GORUCO</h1>
<h2>The Premier Ruby Conference<br/>in New York City.</h2>
<br/>
<h3>A single track conference held in Manhattan <br/>on June 23, 2012.</h4>
<br/><br/>

<div class="six columns alpha">
<h4 id="key-info">Key Info</h4>
<h5>Tickets</h5>
<p>Tickets are available now at <a href="http://bit.ly/goruco-2012-registration">http://bit.ly/goruco-2012-registration</a></p>

<h5>Events &amp; Parties</h5>
<p><strong>Pre-Conference Party:</strong> GOCURO plans on having a pre-conference party the Friday night (June 22) before the conference. The pre-party will take place at Pivotal Labs.</p>
<p><strong>After-Party:</strong> The world famous after-party will take place Saturday night once the conference has ended.</p>

<h5>Mailing List</h5>
<p><a href="http://eepurl.com/lGzsb" target="blank">Subscribe to our low-volume announcements mailing list</a> to receive important news and updates from GORUCO.</p>
</div>

<div class="six columns omega">
<h4 id="latest-news">Latest News</h4>

{% for post in site.categories.news limit:1 %}
{% include post_template.html %}
{% endfor %}

</div>