---
layout: big
title: GORUCO
meta: The Premier Ruby Conference in New York City
author: Steve Berry
---

<script language="javascript" src="javascripts/testing.js"></script>

<div class="grid_12" id="header">
  <a href="#" id="logo"><img src="/images/icons/goruco.png" height=43 width=160/></a>
  <p id="date">June 8, 2013</p>
</div>

<div class="grid_12">
  <div id="hero">
    <h1>The Premier Ruby Conference<br/>in New York City.</h1>
  </div>
</div>

<div class="grid_12" id="prompt">
  <div class="half rborder">
    <p>Tickets go on sale March 14th, 2013</p>
  </div>
  <div class="half">
    <p>CFP Opens Janauary 16th</p>
  </div>
</div>

<div class="grid_8" id="article">
  {% for post in site.categories.articles limit:1 %}
    <div class="constrain500">
      <h2>News</h2>
        <h3>{{ post.title | xml_escape }}</h3>
          {{ post.content }}
        <div class="shader"></div>
    </div>
    <p id="read_entire"><a href="{{ post.url }}">Read Entire Article…</a></p>
  {% endfor %}
</div>
<div class="grid_4" id="previous_articles">
  <h3>Previous Articles</h3>
  <ul>
    {% for post in site.categories.articles limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title | xml_escape }}</a></li>
    {% endfor %}
    <li id="all_articles"><a href="/articles">View All Articles…</a></li>
  </ul>
</div>
<div class="clear"></div>

<div class="grid_12" id="sponsors">
  <h2>Sponsors</h2>
  <p>We don't have any sponsors yet.</p>
</div>

<div class="grid_12" id="about">
  <h2>About GORUCO</h2>
  <p>The Gotham Ruby Conference (GORUCO) is a one-day event that will take place in New York City on June 8, 2013. It is a technical conference aimed at highly motivated programmers interested in all things Ruby.</p>

  <p>You'll spend the day among Rubyists, Rails developers, and language enthusiasts in New York City, home of Silicon Alley.</p>
</div>

<div class="grid_12" id="map">
  <h2>Where &amp; When</h2>
  <iframe width="940" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=altman+building+nyc&amp;fb=1&amp;gl=us&amp;hq=altman+building&amp;hnear=0x89c24fa5d33f083b:0xc80b8f06e177fe62,New+York,+NY&amp;cid=0,0,6401999759563279041&amp;t=m&amp;ll=40.740852,-73.995559&amp;spn=0.00569,0.020278&amp;z=16&amp;output=embed"></iframe>
</div>

<div class="grid_4" id="where">
  <h4>Where</h4>
  <p>135 West 18th Street<br/>New York, NY<br/>10011</p>
</div>

<div class="grid_4" id="when">
  <h4>When</h4>
  <p>June 8, 2013</p>
  <p>8:30<sup>AM</sup> Registration</p>
  <p>9:00<sup>AM</sup> Conference Starts</p>
  <p>6:00<sup>PM</sup> Conference Ends</p>
</div>

<div class="grid_4" id="party">
  <h4>After-Party</h4>
  <p>7:30<sup>PM</sup> After-Party Boarding</p>
  <p>8:00<sup>PM</sup> Departure</p>
  <p>11:00<sup>PM</sup> Return</p>
</div>
<div class="clear"></div>

<div class="grid_12" id="speakers">
  <h2>Speakers</h2>
  <p>We don't have any speakers selected yet.</p>
<!--   <ul>
    <li>
      <h4>Power Rake</h4>
      <p>Jim Weinrench</p>
      <p class="sub">Watch Video</p>
    </li>
  </ul> -->
</div>

<div class="clear"></div>

<div class="grid_12" id="organizers">
  <h2>Organizers</h2>
</div>


{% for post in site.categories.organizers %}
<div class="grid_6 org_person {% cycle '', 'rfloat' %}">
  <a href="#" id="berry">
    <div class="avatar">
      <img src="{{ post.image }}" alt="{{ post.title }}"/>
    </div>
    <h5>{{ post.title | xml_escape }}</h5>
  </a>
</div>

<div class="lightbox" id="berryexpand"style="display: none">
  <img src="{{ post.image }}" alt="{{ post.title }}"/>
  <div class="content">
    <h5>{{ post.title | xml_escape }}</h5>
    <a href="#" class="exit">Exit</a>
    <p>{{ post.desc }}</p>
    <a href="http://{{ post.link }}" target="blank" class="web_site">{{ post.link }}</a>
    <a href="http://github.com/{{ post.github }}" target="blank" class="github">{{ post.github }}</a>
    <a href="http://twitter.com/{{ post.twitter }}" target="blank" class="twitter_link">{{ post.twitter }}</a>
  </div>
</div>
{% endfor %}

<div class="clear"></div>

<p>Follow us on twitter: <a href="http://twitter.com/goruco" target="blank">@goruco</a>

<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding: 0"novalidate>
<label for="mce-EMAIL">Subscribe to our mailing list</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->

</div>
