---
layout: big
title: GORUCO
meta: The Premier Ruby Conference in New York City
author: Steve Berry
---

<h1>GORUCO</h1>
<h2>The Premier Ruby Conference<br/>in New York City.</h2>
<br/>
<h3>A single track conference held in Manhattan <br/>on June 23, 2012.</h4>
<br/>


<h4>Speakers</h4>

<div class="speakers-icons">
{% for post in site.categories.speakers %}
{% include speaker_icon_template.html %}
{% endfor %}
<a href="/speakers" style="float:left;clear:both;">View All Speakers</a>
</div>

<figure>
<a href="/party">
<img src="/images/party/yacht-party.jpg" alt="GORUCO Yacht After-Party" class="scale-with-grid"/></a>
<figcaption><a href="/party">The 210 foot Hornblower Infinity yacht for this year's after-party.</a></figcaption>
</figure>

<hr/>

<div class="main-sponsors">
  <div class="six columns alpha">
  <h3>Gold Sponsors</h3>
  <a href="http://www.bluebox.net" target="blank"><img src="/images/sponsors/bluebox.png" alt="Blue Box" class="scale-with-grid"/></a>
  </div>
  <div class="six columns omega">
  <a href="http://www.engineyard.com/" target="blank"><img src="/images/sponsors/engineyard.png" alt="engine yard" style="min-width: 100px; margin: 0 70px" class="scale-with-grid"/></a>
  </div>

  <div class="clearfix"></div>

  <div class="six columns alpha">
  <a href="http://www.groupme.com/" target="blank"><img src="/images/sponsors/groupme.png" alt="GroupMe" class="scale-with-grid"/></a>
  </div>
  <div class="six columns omega">
  <a href="http://www.intentmedia.com/" target="blank"><img src="/images/sponsors/intent.png" alt="intent media" class="scale-with-grid"/></a>
  </div>
  <div class="clearfix"></div>
  <a href="/sponsors" style="margin:0;">View All Sponsors</a>
</div>

<hr/>



<div class="six columns alpha">
<h4 id="key-info">Schedule</h4>
<p><strong>Friday June 22</strong><br/> Pre-conference party Friday night at Pivotal Labs (near Union Square).</p>
<p><strong>Saturday June 23</strong><br/> Conference from 9am to 7:30pm at The Altman Building in Manhattan. After-Party starts at 7:30pm at a nearby yacht.</p>

<h5>Mailing List</h5>
<p><a href="http://eepurl.com/lGzsb" target="blank">Subscribe to our low-volume announcements mailing list</a> to receive important news and updates from GORUCO.</p>
</div>

<div class="six columns omega">
<h4 id="latest-news">Latest News</h4>

{% for post in site.categories.news limit:1 %}
{% include homepage_template.html %}
{% endfor %}

</div>
