<div class="grid_12" id="footer">
  <p><strong>GORUCO</strong> June 8th, 2013 at the Altman Building in NYC.</p>
  <p><a href="/news">News</a> <a href="/#sponsors">Sponsors</a> <a href="/#about">About</a> <a href="/#map">Where &amp; When</a><a href="/#speakers">Speakers</a> <a href="/organizers">Organizers</a></p>
  <p>Questions? Email us at: <a href="mailto:info@goruco.com">info@goruco.com</a></p>

</div>
</div>
  </div><!-- container -->

  <!-- JS
  ================================================== -->


<!-- End Document
================================================== -->
</body>
</html>
