/*
Syntax error: Undefined mixin 'transition'.
        on line 17 of /Rails/goruco.github.com/sass/hero.sass, in `transition'
        from line 17 of /Rails/goruco.github.com/sass/hero.sass

Backtrace:
/Rails/goruco.github.com/sass/hero.sass:17:in `transition'
/Rails/goruco.github.com/sass/hero.sass:17
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:249:in `visit_mixin'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/engine.rb:263:in `block in render'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/util.rb:371:in `silence_sass_warnings'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/engine.rb:263:in `render'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:138:in `block in compile'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/logger.rb:45:in `red'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:137:in `compile'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:117:in `compile_if_required'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:102:in `block (2 levels) in run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `each'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `block in run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:99:in `run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:86:in `perform'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/base.rb:18:in `execute'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/bin/compass:25:in `block in <top (required)>'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/bin/compass:39:in `call'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/bin/compass:39:in `<top (required)>'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/bin/compass:23:in `load'
/Users/Berry/.rbenv/versions/1.9.3-p194-perf/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'transition'.\A         on line 17 of /Rails/goruco.github.com/sass/hero.sass, in `transition'\A         from line 17 of /Rails/goruco.github.com/sass/hero.sass"; }
