@import url(960.css);
@import url(reset.css);
@import url(text.css);
/* line 1, ../sass/layout.sass */
.half {
  width: 470px;
  float: left;
}
/* line 4, ../sass/layout.sass */
.half.rborder {
  width: 469px;
}
/* line 6, ../sass/layout.sass */
.half.minus2 {
  width: 468px;
}

/* line 9, ../sass/layout.sass */
.rborder {
  border-right: 1px dotted #bcbcbc;
}

/* line 1, ../sass/text.sass */
h1, h2, h3, .lightbox h5 {
  font-weight: 100;
}

/* line 4, ../sass/text.sass */
h1 {
  font-size: 88px;
  margin-bottom: 30px;
}

/* line 7, ../sass/text.sass */
h2 {
  font-size: 88px;
  margin-bottom: 30px;
}

/* line 10, ../sass/text.sass */
h3, .lightbox h5 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 29px;
}

/* line 14, ../sass/text.sass */
h4 {
  font-size: 21px;
}

/* line 17, ../sass/text.sass */
p {
  font-size: 21px;
  margin-bottom: 29px;
  line-height: 29px;
}

/* line 1, ../sass/_header.sass */
#header {
  height: 100px;
}
/* line 3, ../sass/_header.sass */
#header #logo {
  margin-top: 25px;
  display: block;
  float: left;
}
/* line 7, ../sass/_header.sass */
#header #date, #header #viewall, #header #returntoall {
  float: right;
  margin-top: 35px;
}
/* line 10, ../sass/_header.sass */
#header #viewall, #header #returntoall {
  background: #ba262b url(/images/icons/return.png) 16px 7px no-repeat;
  background-size: 32px 32px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 10px 20px 10px 60px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: white;
}
/* line 19, ../sass/_header.sass */
#header #viewall:hover, #header #returntoall:hover {
  background-color: #87181c;
}
/* line 21, ../sass/_header.sass */
#header #viewall:active, #header #returntoall:active {
  background-color: black;
}
/* line 23, ../sass/_header.sass */
#header #viewall p, #header #returntoall p {
  margin-bottom: 0;
}

/* line 1, ../sass/hero.sass */
#hero {
  width: 940px;
  height: 499px;
  display: block;
  background: transparent url(/images/hero/hero.jpg) 0 0 no-repeat;
  position: relative;
}
/* line 7, ../sass/hero.sass */
#hero h1 {
  color: white;
  font-weight: 100;
  float: left;
  margin-top: 330px;
  margin-left: 40px;
  margin-bottom: 0;
  text-shadow: 0 0 20px white;
  opacity: 0;
  font-size: 54px;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 18, ../sass/hero.sass */
#hero h1.magic {
  text-shadow: none;
  color: white;
  opacity: 1;
  margin-top: 340px;
}

/* line 24, ../sass/hero.sass */
#prompt {
  border-bottom: 1px dotted #bcbcbc;
  margin-bottom: 40px;
}
/* line 27, ../sass/hero.sass */
#prompt .half {
  height: 100px;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 30, ../sass/hero.sass */
#prompt .half.tall {
  height: 100px;
}
/* line 32, ../sass/hero.sass */
#prompt .half p {
  opacity: 1;
  text-align: center;
  margin-top: 35px;
}

/* line 36, ../sass/hero.sass */
.constrain500 {
  height: 500px;
  overflow: hidden;
  position: relative;
}

/* line 40, ../sass/hero.sass */
#article {
  overflow: hidden;
  position: relative;
}
/* line 43, ../sass/hero.sass */
#article h3, #article .lightbox h5, .lightbox #article h5 {
  font-weight: 600;
  margin-bottom: 29px;
}

/* line 46, ../sass/hero.sass */
.shader {
  position: absolute;
  width: 100%;
  height: 100px;
  display: block;
  bottom: 0;
  left: 0;
  background: url(/images/icons/gradient.png) 0 0 repeat-x;
}

/* line 54, ../sass/hero.sass */
#previous_articles {
  margin-top: 140px;
}
/* line 56, ../sass/hero.sass */
#previous_articles h3, #previous_articles .lightbox h5, .lightbox #previous_articles h5 {
  font-size: 21px;
}
/* line 58, ../sass/hero.sass */
#previous_articles ul {
  margin: 0;
  padding: 0;
}
/* line 61, ../sass/hero.sass */
#previous_articles ul li {
  padding: 0 10px 0 0;
  border-bottom: 1px dotted #e5e5e5;
}
/* line 64, ../sass/hero.sass */
#previous_articles ul li:last-child {
  border-bottom: none;
}
/* line 66, ../sass/hero.sass */
#previous_articles ul li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: url(/images/icons/wedge.png) 310px 19px no-repeat;
}
/* line 72, ../sass/hero.sass */
#previous_articles ul li a:hover {
  background: url(/images/icons/wedge.png) 281px 19px no-repeat;
  background-size: 7px 12px;
  text-decoration: underline;
}
/* line 76, ../sass/hero.sass */
#previous_articles ul #all_articles {
  background: transparent url(/images/icons/read.png) 0 7px no-repeat;
  background-size: 32px 32px;
}
/* line 79, ../sass/hero.sass */
#previous_articles ul #all_articles a {
  padding-left: 40px;
}

/* line 82, ../sass/hero.sass */
#sponsors {
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px dotted #bcbcbc;
  border-bottom: 1px dotted #bcbcbc;
}
/* line 87, ../sass/hero.sass */
#sponsors h2 {
  margin: 0 0 40px 0;
  text-align: center;
}
/* line 90, ../sass/hero.sass */
#sponsors p {
  text-align: center;
  margin-left: 130px;
  margin-right: 130px;
}

/* line 95, ../sass/hero.sass */
#about {
  padding: 40px 10px;
  border-bottom: 1px dotted #bcbcbc;
  margin-bottom: 40px;
}
/* line 99, ../sass/hero.sass */
#about h2, #about p {
  text-align: center;
}
/* line 101, ../sass/hero.sass */
#about p {
  margin-left: 130px;
  margin-right: 130px;
}

/* line 106, ../sass/hero.sass */
#map h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* line 112, ../sass/hero.sass */
#where, #when, #party {
  margin-bottom: 50px;
}
/* line 114, ../sass/hero.sass */
#where h4, #when h4, #party h4 {
  margin-top: 20px;
  border-bottom: 1px dotted #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 119, ../sass/hero.sass */
#where p, #when p, #party p {
  margin-bottom: 0;
}

/* line 122, ../sass/hero.sass */
#speakers {
  border-top: 1px dotted #bcbcbc;
  clear: both;
  display: block;
  margin-top: 40px;
  padding-top: 60px;
}
/* line 128, ../sass/hero.sass */
#speakers h2, #speakers p {
  text-align: center;
}

/* line 131, ../sass/hero.sass */
#organizers {
  border-top: 1px dotted #bcbcbc;
  clear: both;
  display: block;
  margin-top: 40px;
  padding-top: 60px;
  margin-bottom: 40px;
}
/* line 138, ../sass/hero.sass */
#organizers h2 {
  text-align: center;
}

/* line 141, ../sass/hero.sass */
.opaque {
  opacity: 1 !important;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

/* line 1, ../sass/_org_person.sass */
.org_person {
  margin-bottom: 20px;
}
/* line 3, ../sass/_org_person.sass */
.org_person img {
  float: right;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  height: 160px;
  width: 160px;
}
/* line 8, ../sass/_org_person.sass */
.org_person .avatar {
  border: 5px solid white;
  float: right;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
/* line 12, ../sass/_org_person.sass */
.org_person a {
  color: #444444;
  text-decoration: none;
  display: block;
  overflow: hidden;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 20, ../sass/_org_person.sass */
.org_person h5 {
  font-size: 24px;
  font-weight: normal;
  line-height: 160px;
  margin-right: 20px;
  float: right;
}

/* line 28, ../sass/_org_person.sass */
.org_person.rfloat a {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 31, ../sass/_org_person.sass */
.org_person.rfloat img, .org_person.rfloat .avatar, .org_person.rfloat h5 {
  float: left;
}
/* line 33, ../sass/_org_person.sass */
.org_person.rfloat h5 {
  margin: 0 0 0 20px;
}

/* line 36, ../sass/_org_person.sass */
.org_person:hover a {
  background: #e5e5e5;
}

/* line 39, ../sass/_org_person.sass */
.lightbox {
  background: white;
  width: 800px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 120px;
  padding: 20px;
  position: relative;
  padding-bottom: 40px;
}
/* line 48, ../sass/_org_person.sass */
.lightbox .content {
  float: left;
  width: 560px;
}
/* line 51, ../sass/_org_person.sass */
.lightbox img {
  height: 220px;
  width: 220px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  float: left;
  margin-right: 20px;
}
/* line 57, ../sass/_org_person.sass */
.lightbox h5 {
  font-weight: 500;
}
/* line 60, ../sass/_org_person.sass */
.lightbox .exit {
  position: absolute;
  top: 10px;
  right: 10px;
  text-indent: -99999px;
  display: block;
  background: transparent url(/images/icons/exit.png) 0 0 no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 72, ../sass/_org_person.sass */
.lightbox .exit:hover {
  background-color: #e5e5e5;
}
/* line 74, ../sass/_org_person.sass */
.lightbox .exit:active {
  background-color: #bcbcbc;
}
/* line 76, ../sass/_org_person.sass */
.lightbox .web_site, .lightbox .github, .lightbox .twitter_link {
  padding: 0 20px 0 40px;
  line-height: 40px;
  float: left;
  clear: both;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 83, ../sass/_org_person.sass */
.lightbox .web_site:hover, .lightbox .github:hover, .lightbox .twitter_link:hover {
  background-color: #ba262b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
}
/* line 87, ../sass/_org_person.sass */
.lightbox .web_site {
  background: url(/images/icons/link.png) 10px center no-repeat;
  background-size: 24px 24px;
}
/* line 90, ../sass/_org_person.sass */
.lightbox .github {
  background: url(/images/icons/github.png) 10px center no-repeat;
  background-size: 24px 24px;
}
/* line 93, ../sass/_org_person.sass */
.lightbox .twitter_link {
  background: url(/images/icons/twitter_link.png) 10px center no-repeat;
  background-size: 24px 24px;
}

/* line 2, ../sass/_articles.sass */
.article_style h2 {
  font-weight: 600;
  font-size: 34px;
}

/* line 2, ../sass/_news_list.sass */
#news_list h3, #news_list .lightbox h5, .lightbox #news_list h5, #news_list p {
  margin-bottom: 0;
}
/* line 4, ../sass/_news_list.sass */
#news_list li {
  padding: 20px 0;
  border-bottom: 1px dotted #bcbcbc;
}
/* line 7, ../sass/_news_list.sass */
#news_list p {
  color: #bcbcbc;
}
/* line 9, ../sass/_news_list.sass */
#news_list a {
  text-decoration: none;
}
/* line 11, ../sass/_news_list.sass */
#news_list a:hover {
  text-decoration: underline;
}

/* line 30, ../sass/screen.sass */
body {
  font-family: "proxima-nova";
  color: #444444;
  -webkit-font-smoothing: antialiased;
}

/* line 35, ../sass/screen.sass */
a {
  color: #ba262b;
}
