@import url(960.css);
@import url(reset.css);
@import url(text.css);
/* line 1, ../sass/layout.sass */
.half {
  width: 470px;
  float: left;
}
/* line 4, ../sass/layout.sass */
.half.rborder {
  width: 469px;
}
/* line 6, ../sass/layout.sass */
.half.minus2 {
  width: 468px;
}

/* line 9, ../sass/layout.sass */
.rborder {
  border-right: 1px dotted #bcbcbc;
}

/* line 1, ../sass/text.sass */
h1, h2, h3 {
  font-weight: 100;
}

/* line 4, ../sass/text.sass */
h1 {
  font-size: 88px;
}

/* line 6, ../sass/text.sass */
h2 {
  font-size: 54px;
  margin-bottom: 30px;
}

/* line 9, ../sass/text.sass */
h3 {
  font-size: 34px;
}

/* line 11, ../sass/text.sass */
h4 {
  font-size: 21px;
}

/* line 14, ../sass/text.sass */
p {
  font-size: 21px;
  margin-bottom: 29px;
  line-height: 29px;
}

/* line 1, ../sass/header.sass */
#header {
  height: 100px;
}
/* line 3, ../sass/header.sass */
#header #logo {
  margin-top: 25px;
  display: block;
  float: left;
}
/* line 7, ../sass/header.sass */
#header #date {
  float: right;
  margin-top: 35px;
}

/* line 1, ../sass/hero.sass */
#hero {
  width: 940px;
  height: 499px;
  display: block;
  background: transparent url(/images/hero/hero.jpg) 0 0 no-repeat;
  position: relative;
}
/* line 7, ../sass/hero.sass */
#hero h2 {
  color: white;
  font-weight: 100;
  float: left;
  margin-top: 330px;
  margin-left: 40px;
  text-shadow: 0 0 20px white;
  opacity: 0;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 16, ../sass/hero.sass */
#hero h2.magic {
  text-shadow: none;
  color: white;
  opacity: 1;
  margin-top: 340px;
}

/* line 22, ../sass/hero.sass */
#prompt {
  border-bottom: 1px dotted #bcbcbc;
  margin-bottom: 40px;
}
/* line 25, ../sass/hero.sass */
#prompt .half {
  height: 100px;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 28, ../sass/hero.sass */
#prompt .half.tall {
  height: 100px;
}
/* line 30, ../sass/hero.sass */
#prompt .half p {
  opacity: 1;
  text-align: center;
  margin-top: 35px;
}

/* line 35, ../sass/hero.sass */
#previous_articles {
  margin-top: 95px;
}
/* line 37, ../sass/hero.sass */
#previous_articles h3 {
  font-size: 21px;
}
/* line 39, ../sass/hero.sass */
#previous_articles ul {
  margin: 0;
  padding: 0;
}
/* line 42, ../sass/hero.sass */
#previous_articles ul li {
  padding: 15px 10px 15px 0;
  border-bottom: 1px dotted #e5e5e5;
}
/* line 45, ../sass/hero.sass */
#previous_articles ul li:last-child {
  border-bottom: none;
}
/* line 47, ../sass/hero.sass */
#previous_articles ul li a {
  display: block;
  text-decoration: none;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

/* line 53, ../sass/hero.sass */
#sponsors {
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px dotted #bcbcbc;
  border-bottom: 1px dotted #bcbcbc;
}
/* line 58, ../sass/hero.sass */
#sponsors h2 {
  margin: 0;
  text-align: center;
}

/* line 62, ../sass/hero.sass */
#about {
  padding: 40px 10px;
  border-bottom: 1px dotted #bcbcbc;
  margin-bottom: 40px;
}
/* line 66, ../sass/hero.sass */
#about h2, #about p {
  text-align: center;
}
/* line 68, ../sass/hero.sass */
#about p {
  margin-left: 130px;
  margin-right: 130px;
}

/* line 73, ../sass/hero.sass */
#map h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* line 79, ../sass/hero.sass */
#where, #when, #party {
  margin-bottom: 50px;
}
/* line 81, ../sass/hero.sass */
#where h4, #when h4, #party h4 {
  margin-top: 20px;
  border-bottom: 1px dotted #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 86, ../sass/hero.sass */
#where p, #when p, #party p {
  margin-bottom: 0;
}

/* line 89, ../sass/hero.sass */
#speakers {
  border-top: 1px dotted #bcbcbc;
  clear: both;
  display: block;
  margin-top: 40px;
  padding-top: 60px;
}
/* line 95, ../sass/hero.sass */
#speakers h2 {
  text-align: center;
}

/* line 98, ../sass/hero.sass */
#organizers {
  border-top: 1px dotted #bcbcbc;
  border-bottom: 1px dotted #bcbcbc;
  clear: both;
  display: block;
  margin-top: 40px;
  padding-top: 60px;
  margin-bottom: 40px;
  padding-bottom: 60px;
}
/* line 107, ../sass/hero.sass */
#organizers h2 {
  text-align: center;
}

/* line 110, ../sass/hero.sass */
.opaque {
  opacity: 1 !important;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

/* line 2, ../sass/_org_person.sass */
.org_person img {
  float: right;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  height: 160px;
  width: 160px;
}
/* line 7, ../sass/_org_person.sass */
.org_person .avatar {
  border: 5px solid #e5e5e5;
  float: right;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
/* line 11, ../sass/_org_person.sass */
.org_person a {
  color: #444444;
  text-decoration: none;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 17, ../sass/_org_person.sass */
.org_person h5 {
  font-size: 34px;
  font-weight: normal;
  line-height: 160px;
  margin-right: 20px;
  float: right;
}

/* line 25, ../sass/_org_person.sass */
.org_person.rfloat img, .org_person.rfloat .avatar, .org_person.rfloat h5 {
  float: left;
}
/* line 27, ../sass/_org_person.sass */
.org_person.rfloat h5 {
  margin: 0 0 0 20px;
}

/* line 30, ../sass/_org_person.sass */
.org_person:hover a {
  background: #bcbcbc;
}

/* line 33, ../sass/_org_person.sass */
#berryexpand {
  background: white;
  width: 600px;
  display: block;
}

/* line 27, ../sass/screen.sass */
body {
  font-family: "proxima-nova";
  color: #444444;
  -webkit-font-smoothing: antialiased;
}

/* line 32, ../sass/screen.sass */
a {
  color: #ba262b;
}
