/* line 1, ../sass/text.sass */
h1, h2, h3 {
  font-weight: 100;
}

/* line 4, ../sass/text.sass */
h1 {
  font-size: 88px;
  margin-bottom: 30px;
}

/* line 7, ../sass/text.sass */
h2 {
  font-size: 88px;
  margin-bottom: 30px;
}

/* line 10, ../sass/text.sass */
h3 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 29px;
}

/* line 14, ../sass/text.sass */
h4 {
  font-size: 21px;
}

/* line 17, ../sass/text.sass */
p {
  font-size: 21px;
  margin-bottom: 29px;
  line-height: 29px;
}
